﻿@model OPD.Plugin.ProfessionalDevelopment.Presentation.Models.SessionEditViewModel
@{
    Layout = null;
}

 <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form role="form" action="@VirtualPathUtility.ToAbsolute("~/ProfessionalDevelopment/Session/Create")" id="SessionForm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="locationLabel">Add Session</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="error-msg"></div>
                        <div class="form-group">
                            <label for="SessionName">Session Name</label>
                            <input type="hidden" id="SessionID" name="SessionID" value="@Model.Session.SessionID" />
                            <input type="hidden" id="CreatedAt" name="CreatedAt" value="@Model.Session.CreatedAt" />
                            <input type="text" class="form-control" id="SessionName" name="Session.SessionName" placeholder="Name of the Session" value="@Model.Session.SessionName">
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-8">
                        <div class="error-msg"></div>
                        <div class="form-group">
                            <label for="SessionTypeID">Session Type</label>
                            <select id="SessionTypeID" name="Session.SessionTypeID" class="form-control">
                                @if (Model.SessionTypes.Count > 0)
                                {
                                    <option value="0">Select SessionType</option>
                                    foreach (var sessionType in Model.SessionTypes)
                                    {
                                        if (@sessionType.SessionTypeID == Model.Session.SessionTypeID)
                                        {
                                            <option value="@sessionType.SessionTypeID" selected="selected">@sessionType.SessionTypeName</option>
                                        }
                                        else
                                        {
                                            <option value="@sessionType.SessionTypeID">@sessionType.SessionTypeName</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-8">
                        <div class="error-msg"></div>
                        <div class="form-group">
                            <label for="CourseID">Course Name</label>
                            <select id="CourseID" name="Session.CourseID" class="form-control">
                                @if (Model.Courses.Count > 0)
                                {
                                    <option value="0">Course Name</option>
                                    foreach (var course in Model.Courses)
                                    {
                                        if (@course.CourseID == Model.Session.CourseID)
                                        {
                                            <option value="@course.CourseID" selected="selected">@course.CourseName</option>
                                        }
                                        else
                                        {
                                            <option value="@course.CourseID">@course.CourseName</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-8">
                        <div class="error-msg"></div>
                        <div class="form-group">
                            <label for="ScopeID">Scope   </label>
                            @if (Model.Scopes.Count > 0)
                            {
                                <table class="table">
                                    <thead>
                                        <tr><th>Scope Name </th>
                                            <th>IsMandatory</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (var i = 0; i < Model.Scopes.Count; i++)
                                        {
                                            var scope = Model.Scopes.ElementAt(i);
                                            <tr>
                                               
                                             @*   @if(@scope.ScopeID == Model.Session.SessionScopes[@i].ScopeID){
                                                    <td><input type="checkbox" value="@scope.ScopeID" name="Session.SessionScopes[@i].ScopeID" id="ScopeID" checked="checked"/> <label for="Session.SessionScopes[@i].ScopeID">@scope.ScopeName</label></td>
                                                }
                                                else{
                                                    <td><input type="checkbox" value="@scope.ScopeID" name="Session.SessionScopes[@i].ScopeID" id="ScopeID" /> <label for="Session.SessionScopes[@i].ScopeID">@scope.ScopeName</label></td>
                                                }
                                                @if(Model.Session.SessionScopes[@i].IsMandatory == 1){
                                                    <td><input type="checkbox" value="1" name="Session.SessionScopes[@i].IsMandatory" id="IsMandatory" checked="checked"/></td>
                                                }
                                                else{
                                                    <td><input type="checkbox" value="1" name="Session.SessionScopes[@i].IsMandatory" id="IsMandatory" /></td>
                                                }*@  @if ((Model.Session.SessionScopes != null) && (@scope.ScopeID == Model.Session.SessionScopes[@i].ScopeID))
                                                    {
                                                        <td><input type="checkbox" value="@scope.ScopeID" name="Session.SessionScopes[@i].ScopeID" id="ScopeID" checked="checked" /> <label for="Session.SessionScopes[@i].ScopeID">@scope.ScopeName</label></td>
                                                    }
                                                    else
                                                    {
                                                        <td><input type="checkbox" value="@scope.ScopeID" name="Session.SessionScopes[@i].ScopeID" id="ScopeID" /> <label for="Session.SessionScopes[@i].ScopeID">@scope.ScopeName</label></td>
                                                    }
                                                    @if ((Model.Session.SessionScopes != null) && Model.Session.SessionScopes[@i].IsMandatory == 1)
                                                    {
                                                        <td><input type="checkbox" value="1" name="Session.SessionScopes[@i].IsMandatory" id="IsMandatory" checked="checked" /></td>
                                                    }
                                                    else
                                                    {
                                                        <td><input type="checkbox" value="1" name="Session.SessionScopes[@i].IsMandatory" id="IsMandatory" /></td>
                                                    }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="SaveSession" class="btn btn-primary">Save Session</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function ($) {

     //   var sessionController = new SessionController();

        $("#SaveSession").click(function (event) {
            $.ajax({
                url: "@VirtualPathUtility.ToAbsolute("~/ProfessionalDevelopment/Session/SaveSession")",
                data: $("#SessionForm").serialize(),
                type: 'POST',
                success: function (result) {
                    var result = JSON.parse(result);
                    if (result.Result != "Success") {
                        var errorMsg = result.ErrorMsg;
                        var html = '<div class="alert alert-danger alert-dismissible fade in" role="alert">'
                                        + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>'
                                        + errorMsg
                                        + '</div>';
                        $("#SessionForm .error-msg").html(html);
                    }
                    else {
                        window.location.href = "@VirtualPathUtility.ToAbsolute("~/ProfessionalDevelopment/Session/Index")";
                    }
                }
            });
        });


    });
</script>