﻿@model OPD.Plugin.ProfessionalDevelopment.Presentation.Models.SessionListViewModel
@{
    Layout = "~/Views/_Shared/_AdminLayout.cshtml";
}
@section Content {

    @if (Model.Sessions.Count == 0)
    {
        <div id="EmptySession">
            <div class="row">
                <div class="col-md-12">
                    <div class="warning-content">
                        <h2><i class="fa fa-warning fa-2x warning-icon"></i></h2>
                        <h3>
                            Currently there are no Session.
                            <button class="btn btn-info add-session" type="button">Add Session</button>
                        </h3>
                        <br />
                    </div>
                </div><!--/. col-md-12-->
            </div><!--/. row -->
        </div><!-- /#SessionScrollSpyDiv -->

    }
    else
    {
        <div class="">
            <div class="row">
                <form role="form" class="form-horizontal" action="@VirtualPathUtility.ToAbsolute("~/ProfessionalDevelopment/Session/Index")" method="POST" id="">
                    <div class="col-lg-12">
                        <h3>
                            Session
                            <button class="btn btn-info add-session pull-right" type="button">Add Session</button>
                        </h3>
                        <hr />
                        <div class="row">
                            <div class="col-md-offset-3 col-md-6">
                                <div class="table-responsive">
                                    <table class="table table-resposive leaves-table table-bordered">
                                        <thead>

                                            <tr>
                                                <th>
                                                    <input type="hidden" id="PageNumber" name="PageNumber" value="@(Request.QueryString["PageNumber"] != null ? Request.QueryString["PageNumber"] : "")" />
                                                    <input type="hidden" id="ItemsPerPage" name="ItemsPerPage" value="@(Request.QueryString["ItemsPerPage"] != null ? Request.QueryString["ItemsPerPage"] : "")" />
                                                    <input type="hidden" id="SortParam" name="SessionFilter.SortParam" value="" />
                                                    <input type="hidden" id="SortOrder" name="SessionFilter.SortOrder" value="@((Model.SessionFilter.SortOrder != null && Model.SessionFilter.SortOrder.Equals("desc")) ? "asc" : "desc")" />
                                                    <button type="submit" data-sort-param="Sessions.SessionName"
                                                            class="btn btn-default button-like sort-btn @((Model.SessionFilter.SortParam != null && Model.SessionFilter.SortParam.Contains("Sessions.SessionName")) ? "active" : "")">
                                                        <span>Session Name</span>
                                                        <span class="@((Model.SessionFilter.SortParam != null && Model.SessionFilter.SortParam.Contains("Sessions.SessionName") && Model.SessionFilter.SortOrder.Equals("desc")) ? "glyphicon glyphicon-chevron-down" : "")"></span>
                                                    </button>
                                                </th>
                                                <th>Edit / Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{ var sessionsCount = Model.Sessions.Count; }
                                            @foreach (var session in Model.Sessions)
                                            {
                                                <tr>
                                                    <td>@session.SessionName</td>
                                                    <td><input type="hidden" name="SessionID" id="SessionID" value="@session.SessionID" />
                                                        <span><a href="#" class="edit-session"><i class="icon-pencil icons"></i></a></span> / 
                                                        <span><a href="#" class="delete-session"><i class="icon-close icons"></i></a></span></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <br />

                    </div>
                    <!-- end of col-lg-9-->
                </form>
            </div>
        </div>

}
         <!-- Session Modal -->
       <div class="modal fade" id="AddSessionModel" tabindex="-1" role="dialog" aria-labelledby="sessionLabel">
        </div>
      
}
@section Scripts
{
    <script type="text/javascript">
        jQuery(document).ready(function ($) {

            $(".add-session").click(function (event) {
                $.ajax({
                    url: "@VirtualPathUtility.ToAbsolute("~/ProfessionalDevelopment/Session/Create")",
                    success: function (html) {
                        $("#AddSessionModel").html(html);
                    }
                })
                $("#AddSessionModel").modal('show');
            });

            $(".edit-session").click(function (event) {
                var SessionID = $(this).parent().parent().find("#SessionID").val();
                $.ajax({
                    url: "@VirtualPathUtility.ToAbsolute("~/ProfessionalDevelopment/Session/Edit")",
                    data: { sessionID: SessionID },
                    success: function (html) {
                        $("#AddSessionModel").html(html);
                }
            })
            $("#AddSessionModel").modal('show');
            });

            $(".delete-session").click(function (event) {
               // alert("Hi");
                var SessionID = $(this).parent().parent().find("#SessionID").val();
                if (confirm('Are you sure want to Delete the Session')) {
                    $.ajax({
                        url: "@VirtualPathUtility.ToAbsolute("~/ProfessionalDevelopment/Session/Delete")",
                    data: { sessionID: SessionID },
                    success: function (result) {
                        var result = JSON.parse(result);
                        if (result.Result == "Success") {
                            window.location.reload();
                        }
                    }
                })
                } else {
                }
            });

        });
    </script>
}


