﻿@{
    Layout = "~/Views/_Shared/_Master.cshtml";
}
@section MainNavMenu
{
    <nav class="navbar navbar-default">
        <!--<div class="container-fluid">-->
        <div class="navbar-header">
            <a href="#" class="navbar-brand visible-xs">Online Holiday Program</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <!-- Html.NavMenus("menu", "main-menu") -->
            <ul class="nav navbar-nav text-center">
                <li class="@(HttpContext.Current.Request.Url.AbsolutePath.ToString().Contains("Course") ? "active" : "")"><a href="@VirtualPathUtility.ToAbsolute("~/ProfessionalDevelopment/Course/Index")">Course</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Session <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="@(HttpContext.Current.Request.Url.AbsolutePath.ToString().Contains("DayWiseReport") ? "active" : "")"><a href="@VirtualPathUtility.ToAbsolute("~/ProfessionalDevelopment/SessionType/Index")">Session Type</a></li>
                        <li class="@(HttpContext.Current.Request.Url.AbsolutePath.ToString().Contains("SummaryReport") ? "active" : "")"><a href="@VirtualPathUtility.ToAbsolute("~/ProfessionalDevelopment/Session/Index")">Sessions</a></li>
                    </ul>
                </li>
                <li class="@(HttpContext.Current.Request.Url.AbsolutePath.ToString().Contains("Session Schedule") ? "active" : "")"><a href="@VirtualPathUtility.ToAbsolute("~/ProfessionalDevelopment/SesionSchedule/Index")">Session Schedule</a></li>
                @*<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Session Schedule <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="@(HttpContext.Current.Request.Url.AbsolutePath.ToString().Contains("Location") ? "active" : "")"><a href="@VirtualPathUtility.ToAbsolute("~/MarkRoll/Location/Index")">Locations</a></li>
                        <li class="@(HttpContext.Current.Request.Url.AbsolutePath.ToString().Contains("Teacher/Index") ? "active" : "")"><a href="@VirtualPathUtility.ToAbsolute("~/MarkRoll/Teacher/Index")">Teachers</a></li>
                        <li class="@(HttpContext.Current.Request.Url.AbsolutePath.ToString().Contains("Team") ? "active" : "")"><a href="@VirtualPathUtility.ToAbsolute("~/MarkRoll/Team/Index")">Teams</a></li>
                        <li class="@(HttpContext.Current.Request.Url.AbsolutePath.ToString().Contains("Teacher/RollMark") ? "active" : "")"><a href="@VirtualPathUtility.ToAbsolute("~/MarkRoll/Teacher/RollMark")">Mark Attendance</a></li>
                    </ul>
                </li>*@
                <!--<li class="(HttpContext.Current.Request.Url.AbsolutePath.ToString().Contains("Payment/Index") ? "active" : "")"><a href="@VirtualPathUtility.ToAbsolute("~/OHPAdmin/Payment/Index")">Payments Refund</a></li>-->
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="@VirtualPathUtility.ToAbsolute("~/OHPAdmin/OHPAdmin/GetCCBReport")">
                        <img src="@Url.Content("~/Content/css/img/excel_img.png")" alt="ccb report" width="15" height="15" />
                        CCB Report
                    </a>
                </li>
                <li>
                    @{ var ohpPDFLink = @CacheUtil.GetString("OHP_PDF_LINK"); }
                    @if (ohpPDFLink != null && ohpPDFLink != "")
                    {
                        <a href="@ohpPDFLink" target="_blank">
                            <img src="@Url.Content("~/Content/css/img/pdf_img.png")" alt="online holiday program pdf" width="15" height="15" />
                            Holiday Program Details
                        </a>
                    }
                </li>
                @*<li><a href="@VirtualPathUtility.ToAbsolute("~/Account/SignOut")"><i class="icon-power icons" title="Logout"></i> Logout</a></li>*@
            </ul>
        </div><!--/.nav-collapse -->
        <!--</div>/.container-fluid -->
    </nav>
}
<div class="page-content">

    @{
        var Message = SessionUtil.GetMessage();
        var MessageType = SessionUtil.GetMessageType();
        SessionUtil.ClearMessage();
        if (!String.IsNullOrEmpty(Message) && !String.IsNullOrEmpty(MessageType))
        {
            <div class="alert alert-@MessageType alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                @Message
            </div>
        }
    }

    @RenderSection("Content")

</div>
@section Footer
{
    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
        });
    </script>
}
