﻿@{
    Layout = "~/Views/_Shared/_Master.cshtml";
}
@section MainNavMenu
{
    <nav class="navbar navbar-default">
        <!--<div class="container-fluid">-->
        <div class="navbar-header">
            <a href="#" class="navbar-brand visible-xs">Online Holiday Program</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <!-- Html.NavMenus("menu", "main-menu") -->
            <ul class="nav navbar-nav text-center">
                <li class="@(HttpContext.Current.Request.Url.AbsolutePath.ToString().Contains("ParentInformation") ? "active" : "")"><a href="@VirtualPathUtility.ToAbsolute("~/ParentInformation/ParentInformation/Edit")">Parent Details</a></li>
                <li class="@(HttpContext.Current.Request.Url.AbsolutePath.ToString().Contains("StudentInformation") ? "active" : "")"><a href="@VirtualPathUtility.ToAbsolute("~/StudentInformation/StudentInformation/Edit")">Child Details</a></li>
                <li class="@(HttpContext.Current.Request.Url.AbsolutePath.ToString().Contains("OHPActivity/Schedule/Index") ? "active" : "")"><a href="@VirtualPathUtility.ToAbsolute("~/OHPActivity/Schedule/Index")">Activities</a></li>
                <li class="@(HttpContext.Current.Request.Url.AbsolutePath.ToString().Contains("OHPActivity/Booking/Index") ? "active" : "")"><a href="@VirtualPathUtility.ToAbsolute("~/OHPActivity/Booking/Index")">Enrollment Summary</a></li>                
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li>
                    @{ var ohpPDFLink = @CacheUtil.GetString("OHP_PDF_LINK"); }
                    @if (ohpPDFLink != null && ohpPDFLink != "")
                    {
                        <a href="@ohpPDFLink" target="_blank">
                            <img src="@Url.Content("~/Content/css/img/pdf_img.png")" alt="online holiday program pdf" width="15" height="15" />
                            Holiday Program Details
                        </a>
                    }
                </li>
                <li class="@(HttpContext.Current.Request.Url.AbsolutePath.ToString().Contains("OHPActivity/ScheduleCart") ? "active" : "")">
                    <a href="@VirtualPathUtility.ToAbsolute("~/OHPActivity/ScheduleCart/BookingSummary")"><i class="icon-basket icons"></i> (<span class="current-schedules-count">@SessionUtil.GetInt("CurrentSchedulesCount")</span>)</a>
                </li>
                @*<li><a href="@VirtualPathUtility.ToAbsolute("~/Account/SignOut")"><i class="icon-power icons" title="Logout"></i> Logout</a></li>*@
            </ul>
        </div><!--/.nav-collapse -->
        <!--</div>/.container-fluid -->
    </nav>
}
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="session-status">
                @{
                    var Message = SessionUtil.GetMessage();
                    var MessageType = SessionUtil.GetMessageType();
                    SessionUtil.ClearMessage();
                    if (!String.IsNullOrEmpty(Message) && !String.IsNullOrEmpty(MessageType))
                    {
                        <div class="alert alert-@MessageType alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                            @Message
                        </div>
                    }
                }
            </div>
            @RenderSection("Content")
        </div>
    </div>
</div>

@section Footer
{
    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
        });
    </script>
}
