﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap Core CSS -->
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/jquery-ui.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/simple-line-icons.css")" rel="stylesheet" />

    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom CSS -->
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" />
    <!--[if lte IE 7]><script src="@Url.Content("~/Content/js/icons-lte-ie7.js")"></script><![endif]-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @RenderSection("Head", required: false)
    <style>
        body {
            background: url("~/../../Content/css/img/grey_wash_wall.png") repeat #004B8D;
        }

        @@media (min-width: 768px) {
            #LoginLayout {
                padding-top: 100px;
            }

            #LoginContainer .left-pane .logo {
                padding-top: 25px;
            }

            #LoginContainer .right-pane {
                border-radius: 0px 5px 5px 0px;
                padding: 40px 25px 40px 25px;
            }

            #LoginContainer .left-pane .logo .logo-img {
                width: 82%;
            }

            #LoginContainer .project-title {
                color: #fff;
                /*margin-top: 125px;*/
            }
        }

        @@media (max-width: 768px) {
            #LoginContainer .left-pane .logo {
                padding: 10px;
            }

            #LoginContainer .right-pane .tab-view {
                padding: 10px;
            }

            #LoginContainer .right-pane .login-form-container {
                padding-top: 15px;
            }
        }

        #LoginContainer {
            background-color: #00285B;
            border-radius: 5px;
        }

            #LoginContainer .project-title {
                color: #fff;
                padding-left: 5px;
                text-transform: uppercase;
                word-spacing: 3px;
                letter-spacing: 1px;
            }

                #LoginContainer .project-title a {
                    color: #fff;
                    text-decoration: none;
                }

                    #LoginContainer .project-title a:hover {
                        color: #fff;
                    }

            #LoginContainer .left-pane {
                border-radius: 5px 0px 0px 5px;
            }

            #LoginContainer .right-pane .register-form-container {
                padding-top: 25px;
            }

            #LoginContainer .right-pane {
                background-color: #fff;
            }

                #LoginContainer .right-pane .login-form-container {
                    padding-top: 25px;
                }
    </style>
</head>

<body>

    <div class="page-wrapper">
        <div class="row" id="LoginLayout">
            <div class="col-md-offset-3 col-md-6" id="LoginContainer">
                <div class="row">
                    <div class="col-md-5 left-pane">
                        <div class="logo">
                            <img src="@Url.Content("~/Content/css/img/logo.svg")" class="logo-img" alt="logo" />
                            <div class="project-title">
                                <br />
                                <br />
                                <h5>
                                    <a href="@CacheUtil.GetString("OHP_PDF_LINK")" target="_blank">
                                        <img src="@Url.Content("~/Content/css/img/pdf_img.png")" alt="online holiday program pdf" width="20" height="20" />
                                        Holiday Program Details
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 right-pane">
                        <div class="tab-view">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                @RenderSection("LoginRegistrationTabContent")
                            </ul>

                            @{
                                var Message = SessionUtil.GetMessage();
                                var MessageType = SessionUtil.GetMessageType();
                                SessionUtil.ClearMessage();
                                if (!String.IsNullOrEmpty(Message) && !String.IsNullOrEmpty(MessageType))
                                {
                                    <div class="alert alert-@MessageType alert-dismissible fade in" role="alert" style="margin: 10px 0px -10px 0px;">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        @Message
                                    </div>
                                }
                            }

                            @RenderSection("Content")

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div><!--/#page-wrapper -->
    <!-- jQuery Version 1.11.0 -->
    <script src="@Url.Content("~/Content/js/jquery-1.11.0.js")"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery-ui.min.js")"></script>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
        });
    </script>
    @RenderSection("Footer", required: false)

</body>

</html>
