﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap Core CSS -->
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/bootstrap-datepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/select2.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/jquery.datetimepicker.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/jquery-ui.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/simple-line-icons.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/jquery-ui.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/bootstrap-toggle.css")" rel="stylesheet" />
    @*<link href="@Url.Content("~/Content/css/bootstrap-wysihtml5.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/bootstrap3-wysiwyg5-color.css")" rel="stylesheet" />*@

    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom CSS -->
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" />
    <!--[if lte IE 7]><script src="@Url.Content("~/Content/js/icons-lte-ie7.js")"></script><![endif]-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @RenderSection("Head", required: false)
</head>

<body>
    <div class="loading-indicator"></div>
    <div class="page-wrapper">
        <div class="navbar logo-navbar" role="navigation">
            <div class="navbar-content container">
                <div class="pull-left">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                            <img src="@Url.Content("~/Content/css/img/logo.svg")" alt="logo" />
                        </a>
                    </div>
                </div>
                @{ var loggedUserDisplayName = Session["LoggedUserDisplayName"]; }
                @if (loggedUserDisplayName != null)
                {
                    <div class="hidden-xs logged-user-md pull-right"><h4>Welcome @Session["LoggedUserDisplayName"] <a href="@VirtualPathUtility.ToAbsolute("~/Account/SignOut")"><i class="icon-power icons" title="Logout"></i></a></h4></div>
                }
            </div>
            @if (loggedUserDisplayName != null)
            {
                <div class="visible-xs logged-user-xs"><h5>Welcome @Session["LoggedUserDisplayName"] <a href="@VirtualPathUtility.ToAbsolute("~/Account/SignOut")"><i class="icon-power icons" title="Logout"></i></a></h5></div>
            }
            <div class="border-1 col-sm-3"></div>
        </div>
        <div class="row border-adjust">
            <div class="border-2 col-sm-12"></div>
            <div class="border-3 col-sm-6"></div>
            <div class="clearfix"></div>
        </div>


        <div class="main-content">
            <div class="container">
                @RenderSection("MainNavMenu", required: false)

                @RenderBody()
            </div><!--/.container -->
        </div><!--/.main-content -->


        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <p class="copy-right-text">&#169;2015 St.Catherine's All rights reserved</p>
                    </div>
                    <div class="clearfix visible-xs">&nbsp;</div>
                    <div class="col-md-5 address-content">
                        <address>
                            <strong>Website: www.stcatherines.nsw.edu.au</strong><br>
                            Email: holidayprograms@stcaths.nsw.edu.au<br>
                            Telephone: (02) 8305 6200<br>
                            Contact during Holidays: 0418 651 137<br>
                        </address>
                    </div>
                </div>
            </div>
        </footer>

    </div><!--/#page-wrapper -->

    <!-- jQuery Version 1.11.0 -->
    <script src="@Url.Content("~/Content/js/jquery-1.11.0.js")"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/js/bootstrap-datepicker.min.js")"></script>
    <script src="@Url.Content("~/Content/js/select2.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.datetimepicker.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery-ui.min.js")"></script>
    <script src="@Url.Content("~/Content/js/knockout-3.2.0.js")"></script>
    <script src="@Url.Content("~/Content/js/knockout.mapping-latest.js")"></script>
    @*<script src="@Url.Content("~/Content/js/wysihtml5-0.3.0.js")"></script>
    <script src="@Url.Content("~/Content/js/bootstrap-wysihtml5.js")"></script>*@
    <script src="@Url.Content("~/Content/js/moment.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.hotkeys.js")"></script>
    <script src="@Url.Content("~/Content/js/bootstrap-toggle.js")"></script>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(window).load(function () {
                // Animate loader off screen
                $(".loading-indicator").fadeOut("slow");
                //autosize(document.querySelectorAll('textarea'));
            });
        });
    </script>
    @RenderSection("Footer", required: false)

</body>

</html>
