﻿@using AloFramework.Auth.Utilities
@using AloFramework.Core.Utilities
@{
    Layout = "~/Views/_Shared/_Master.cshtml";
}
<div class="main-content">
    
    @RenderSection("Content")

</div>
@section Footer
{
    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
        });
    </script>
}
