﻿@{
    Layout = "~/Views/_Shared/_Master.cshtml";
}
<div class="page-content">

    @{
        var Message = SessionUtil.GetMessage();
        var MessageType = SessionUtil.GetMessageType();
        SessionUtil.ClearMessage();
        if (!String.IsNullOrEmpty(Message) && !String.IsNullOrEmpty(MessageType))
        {
            <div class="alert alert-@MessageType alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                @Message
            </div>
        }
    }

    @RenderSection("Content")

</div>
@section Footer
{
    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
        });
    </script>
}
