﻿@model OPD.Plugin.ProfessionalDevelopment.Presentation.Models.SessionTypeEditViewModel
@{
    Layout = null;
}

 <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form role="form" action="@VirtualPathUtility.ToAbsolute("~/ProfessionalDevelopment/SessionType/Create")" id="SessionTypeForm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="locationLabel">Add SessionType</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="error-msg"></div>
                        <div class="form-group">
                            <label for="SessionTypeName">SessionType Name</label>
                            <input type="hidden" id="SessionTypeID" name="SessionType.SessionTypeID" value="@Model.SessionType.SessionTypeID" />
                            <input type="hidden" id="CreatedAt" name="SessionType.CreatedAt" value="@Model.SessionType.CreatedAt" />
                            <input type="text" class="form-control" id="SessionTypeName" name="SessionType.SessionTypeName" placeholder="Name of the SessionType" value="@Model.SessionType.SessionTypeName">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="SaveSessionType" class="btn btn-primary">Save SessionType</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function ($) {

        $("#SaveSessionType").click(function (event) {
            $.ajax({
                url: "@VirtualPathUtility.ToAbsolute("~/ProfessionalDevelopment/SessionType/SaveSessionType")",
                data: $("#SessionTypeForm").serialize(),
                success: function (result) {
                    var result = JSON.parse(result);
                    if (result.Result != "Success") {
                        var errorMsg = result.ErrorMsg;
                        var html = '<div class="alert alert-danger alert-dismissible fade in" role="alert">'
                                        + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>'
                                        + errorMsg
                                        + '</div>';
                        $("#SessionTypeForm .error-msg").html(html);
                    }
                    else {
                        window.location.href = "@VirtualPathUtility.ToAbsolute("~/ProfessionalDevelopment/SessionType/Index")";
                    }
                }
            });
        });


    });
</script>