﻿@model OPD.Plugin.ProfessionalDevelopment.Presentation.Models.SessionTypeListViewModel
@{
    Layout = "~/Views/_Shared/_AdminLayout.cshtml";
}
@section Content {

    @if (Model.SessionTypes.Count == 0)
    {
        <div id="EmptySessionType">
            <div class="row">
                <div class="col-md-12">
                    <div class="warning-content">
                        <h2><i class="fa fa-warning fa-2x warning-icon"></i></h2>
                        <h3>
                            Currently there are no SessionType.
                            <button class="btn btn-info add-sessionType" type="button">Add SessionType</button>
                        </h3>
                        <br />
                    </div>
                </div><!--/. col-md-12-->
            </div><!--/. row -->
        </div><!-- /#SessionTypeScrollSpyDiv -->

    }
    else
    {
        <div class="">
            <div class="row">
                <form role="form" class="form-horizontal" action="@VirtualPathUtility.ToAbsolute("~/ProfessionalDevelopment/SessionType/Index")" method="POST" id="">
                    <div class="col-lg-12">
                        <h3>
                            SessionType
                            <button class="btn btn-info add-sessionType pull-right" type="button">Add SessionType</button>
                        </h3>
                        <hr />
                        <div class="row">
                            <div class="col-md-offset-3 col-md-6">
                                <div class="table-responsive">
                                    <table class="table table-resposive leaves-table table-bordered">
                                        <thead>

                                            <tr>
                                                <th>
                                                    <input type="hidden" id="PageNumber" name="PageNumber" value="@(Request.QueryString["PageNumber"] != null ? Request.QueryString["PageNumber"] : "")" />
                                                    <input type="hidden" id="ItemsPerPage" name="ItemsPerPage" value="@(Request.QueryString["ItemsPerPage"] != null ? Request.QueryString["ItemsPerPage"] : "")" />
                                                    <input type="hidden" id="SortParam" name="ReportFilter.SortParam" value="" />
                                                    <input type="hidden" id="SortOrder" name="ReportFilter.SortOrder" value="@((Model.SessionTypeFilter.SortOrder != null && Model.SessionTypeFilter.SortOrder.Equals("desc")) ? "asc" : "desc")" />
                                                    <button type="submit" data-sort-param="SessionTypes.SessionTypeName"
                                                            class="btn btn-default button-like sort-btn @((Model.SessionTypeFilter.SortParam != null && Model.SessionTypeFilter.SortParam.Contains("SessionTypes.SessionTypeName")) ? "active" : "")">
                                                        <span>SessionType Name</span>
                                                        <span class="@((Model.SessionTypeFilter.SortParam != null && Model.SessionTypeFilter.SortParam.Contains("SessionTypes.SessionTypeName") && Model.SessionTypeFilter.SortOrder.Equals("desc")) ? "glyphicon glyphicon-chevron-down" : "")"></span>
                                                    </button>
                                                </th>
                                                <th>Edit / Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{ var sessionTypesCount = Model.SessionTypes.Count; }
                                            @foreach (var sessionType in Model.SessionTypes)
                                            {
                                                <tr>
                                                    <td>@sessionType.SessionTypeName</td>
                                                    <td><input type="hidden" name="SessionTypeID" id="SessionTypeID" value="@sessionType.SessionTypeID" />
                                                        <span><a href="#" class="edit-sessionType"><i class="icon-pencil icons"></i></a></span> / 
                                                        <span><a href="#" class="delete-sessionType"><i class="icon-close icons"></i></a></span></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <br />

                    </div>
                    <!-- end of col-lg-9-->
                </form>
            </div>
        </div>

}
         <!-- SessionType Modal -->
       <div class="modal fade" id="AddSessionTypeModel" tabindex="-1" role="dialog" aria-labelledby="sessionTypeLabel">
        </div>
      
}
@section Scripts
{
    <script type="text/javascript">
        jQuery(document).ready(function ($) {

            $(".add-sessionType").click(function (event) {
                $.ajax({
                    url: "@VirtualPathUtility.ToAbsolute("~/ProfessionalDevelopment/SessionType/Create")",
                    success: function (html) {
                        $("#AddSessionTypeModel").html(html);
                    }
                })
                $("#AddSessionTypeModel").modal('show');
            });

            $(".edit-sessionType").click(function (event) {
                var SessionTypeID = $(this).parent().parent().find("#SessionTypeID").val();
                $.ajax({
                    url: "@VirtualPathUtility.ToAbsolute("~/ProfessionalDevelopment/SessionType/Edit")",
                    data: { sessionTypeID: SessionTypeID },
                    success: function (html) {
                        $("#AddSessionTypeModel").html(html);
                }
            })
            $("#AddSessionTypeModel").modal('show');
            });

            $(".delete-sessionType").click(function (event) {
               // alert("Hi");
                var SessionTypeID = $(this).parent().parent().find("#SessionTypeID").val();
                if (confirm('Are you sure want to Delete the SessionType')) {
                    $.ajax({
                        url: "@VirtualPathUtility.ToAbsolute("~/ProfessionalDevelopment/SessionType/Delete")",
                    data: { sessionTypeID: SessionTypeID },
                    success: function (result) {
                        var result = JSON.parse(result);
                        if (result.Result == "Success") {
                            window.location.reload();
                        }
                    }
                })
                } else {
                }
            });

        });
    </script>
}


