﻿@*@model OPD.Plugin.ProfessionalDevelopment.Presentation.Models.ProfessionalDevelopmentEditViewModel *@
@{
    Layout = "~/Views/_Shared/_PagesLayout.cshtml";
}

@section Content
{
    <div class="container">					
				<form class="form-horizontal">
					<div class="panel panel-info">
						<div class="panel-heading">Create Course</div>
						<div class="panel-body">
							<div class="form-group">
								<label class="col-md-3 control-label" for="CourseID">Course Name</label>							
								<div class="col-md-3"> 
									<select class="form-control course-id" id="CourseID" name="CourseID">
										<option>Course Name</option>								
									</select>
								</div>
								<div class="col-md-1 add-button"> 								
									<a href="#" data-toggle="modal" id="CourseCreate" data-target="#CreateCourseModal" class="btn btn-success btn-sm course-create">
										<i class="fa fa-plus" aria-hidden="true"></i>
									</a>
								</div>	
							</div>	<!--form-group-->	
						</div> <!--panel-1-body-->
					</div><!--panel-panel-1-info-->		
				
					<!--CreateCourseModal-->
					<div class="modal fade" id="CreateCourseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">Create New Course</h4>
								</div>
								<div class="modal-body">							
										<div class="form-group">
											<label class="col-md-6 control-label"  for="CourseName">Course Name</label>							
											<div class="col-md-6"> 
												<input type="text" id="CourseName" name="CourseName" class="form-control course-name">
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-6 control-label" for="CourseDescription">Course Description</label>							
											<div class="col-md-6"> 
												<input type="text" class="form-control course-description" id="CourseDescription" name="CourseDescription" >
											</div>
										</div>											
								</div><!--modal-1--body-->
								<div class="modal-footer">
									<div class="form-group">
										<div class="col-md-12 ">
											<div class="col-md-10 col-sm-10 col-xs-8">
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											</div>
											<div class="col-md-2 col-sm-2 col-xs-4">
												<div class="pull-right">
													<a href="#" class="btn btn-primary"> Create</a>
												</div>
											</div>
											</div>
										</div>	
								</div><!--modal-footer-->
							</div><!--modal content-->
						</div><!--modal-dialog-->
					</div><!--modal-->
			
					<!--panel2-->
					<div class="panel panel-info">
						<div class="panel-heading">Create Session</div>
						<div class="panel-body">					
							<div class="form-group">
								<label class="col-md-3 control-label" for="SessionType">Session Type</label>
								<div class="col-md-3"> 
									<select class="form-control sessiontype-id" id="SessionTypeID" name="SessionTypeID">
										<option>Session Type</option>								
									</select>
								</div>	
								<div class="col-md-1 add-button"> 								
										<a href="#" data-toggle="modal" data-target="#NewSessionType" class="btn btn-success btn-sm">
											<i class="fa fa-plus" aria-hidden="true"></i>
										</a>
								</div>	
							</div><!--form-group-->	
							<div class="form-group">
								<label class="col-md-3 control-label" for="SessionName">Session Name</label>
								<div class="col-md-3"> 
									<select class="form-control session-id" id="SessionID" name="SessionID">
										<option>Session Name</option>								
									</select>
								</div>	
								<div class="col-md-1 add-button"> 								
										<a href="#" data-toggle="modal" data-target="#NewSession" class="btn btn-success btn-sm">
											<i class="fa fa-plus" aria-hidden="true"></i>
										</a>
								</div>	
							</div>	<!--form-group-->		
						</div><!--panel-2-body-->
					</div><!--panel-panel-2-info-->
				
					<!--NewSessionTypeModal-->
					<div class="modal fade" id="NewSessionType" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">New Session Type</h4>
								</div>
								<div class="modal-body">							
										<div class="form-group">
											<label class="col-md-6 control-label" for="SessionTypeName">Session Type Name</label>							
											<div class="col-md-6"> 
												<input type="text" id="SessionTypeName" name="SessionTypeName" class="form-control sessiontype-name">
											</div>
										</div>	
								</div><!--modal2- body-->
								<div class="modal-footer">
									<div class="form-group">
										<div class="col-md-12 ">
											<div class="col-md-10 col-sm-10 col-xs-8">
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											</div>
											<div class="col-md-2 col-sm-2 col-xs-4">
												<div class="pull-right">
													<a href="#" class="btn btn-primary"> Create</a>
												</div>
											</div>
											</div>
										</div>	
								</div><!--modal2-footer-->
							</div><!--modal 2 content-->
						</div><!--modal 2-dialog-->
					</div><!--modal 2-->
			
					<!--NewSessionModal-->
					<div class="modal fade" id="NewSession" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">New Session</h4>
								</div>
								<div class="modal-body">							
										<div class="form-group">
											<label class="col-md-6 control-label" for="SessionName">Session Name</label>							
											<div class="col-md-6"> 
												<input type="text" id="SessionName" name="SessionName" class="form-control session-name">
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-6 control-label" for="SessionTypeID">Session Type</label>							
											<div class="col-md-6"> 
												<select class="form-control sessiontype-id" id="SessionTypeID" name="SessionTypeID">
													<option>Session Type</option>								
												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-6 control-label" for="ScopeID">ScopeID</label>		
											<div class="col-md-6">
												<select id="ScopeID" name="ScopeID" class="form-control scope-id">
													<option>Teaching</option>
													<option>Non-Teaching</option>
													<option>Support</option>
												</select>
											</div>
										</div>										
								</div><!--modal-3 body-->
								<div class="modal-footer">
									<div class="form-group">
										<div class="col-md-12 ">
											<div class="col-md-10 col-sm-10 col-xs-8">
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											</div>
											<div class="col-md-2 col-sm-2 col-xs-4">
												<div class="pull-right">
													<a href="#" class="btn btn-primary"> Create</a>
												</div>
											</div>
											</div>
										</div>	
								</div><!--modal-3-footer-->
							</div><!--modal-3 content-->
						</div><!--modal-3-dialog-->
					</div><!--modal-3-->
				<div class="panel panel-info">
					<div class="panel-heading">Course Schedule</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table ">
								<thead>
									<tr>
										<th>Schedule Date</th>
										<th>Start Time</th>
										<th>End Time</th>
										<th>Terminal</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tbody>	
									<tr>
										<td><input type="text" class="form-control datepicker schedule-date" id="ScheduleDate" name="ScheduleDate" placeholder="Schedule Date"></td>
										<td><input type="text" class="form-control timepicker schedule-starttime"  name="ScheduleStartTime" id="ScheduleStartTime" placeholder="Start Time"></td>
										<td><input type="text" class="form-control timepicker schedule-endtime" name="ScheduleEndTime" id="ScheduleEndTime" placeholder="End Time"></td>
										<td>
											<select name="Location" id="Location" class="form-control location">
												<option>Location</option>
											</select>
										</td>
										<td><a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
									</tr>
									<tr>
										<td><input type="text" class="form-control datepicker schedule-date" id="ScheduleDate" name="ScheduleDate" placeholder="Schedule Date"></td>
										<td><input type="text" class="form-control timepicker schedule-starttime"  name="ScheduleStartTime" id="ScheduleStartTime" placeholder="Start Time"></td>
										<td><input type="text" class="form-control timepicker schedule-endtime" name="ScheduleEndTime" id="ScheduleEndTime" placeholder="End Time"></td>
										<td>
											<select name="Location" id="Location" class="form-control location">
												<option>Location</option>
											</select>
										</td>
										<td><a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
									</tr>
									<tr>
										<td><input type="text" class="form-control datepicker schedule-date" id="ScheduleDate" name="ScheduleDate" placeholder="Schedule Date"></td>
										<td><input type="text" class="form-control timepicker schedule-starttime"  name="ScheduleStartTime" id="ScheduleStartTime" placeholder="Start Time"></td>
										<td><input type="text" class="form-control timepicker schedule-endtime" name="ScheduleEndTime" id="ScheduleEndTime" placeholder="End Time"></td>
										<td>
											<select name="Location" id="Location" class="form-control location">
												<option>Location</option>
											</select>
										</td>
										<td><a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>						
					</div><!--panel-3-body-->
				</div><!--panel-panel-3-info-->
					
					<div class="form-group">
						<div class="col-md-1 pull-right">
							<button type="button" class="form-control btn btn-success">Save</button>
						</div>
					</div>
				</form>				
			</div><!--/.container -->
}