﻿@model OPD.Plugin.ProfessionalDevelopment.Presentation.Models.CourseEditViewModel 
@{
    Layout = null;
}

 <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form role="form" action="@VirtualPathUtility.ToAbsolute("~/ProfessionalDevelopment/Course/Create")" id="CourseForm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="locationLabel">Add Course</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="error-msg"></div>
                        <div class="form-group">
                            <label for="CourseName">Course Name</label>
                            <input type="hidden" id="CourseID" name="Course.CourseID" value="@Model.Course.CourseID" />
                            <input type="hidden" id="CreatedAt" name="Course.CreatedAt" value="@Model.Course.CreatedAt" />
                            <input type="text" class="form-control" id="CourseName" name="Course.CourseName" placeholder="Name of the Course" value="@Model.Course.CourseName">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="SaveCourse" class="btn btn-primary">Save Course</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function ($) {

        $("#SaveCourse").click(function (event) {
            $.ajax({
                url: "@VirtualPathUtility.ToAbsolute("~/ProfessionalDevelopment/Course/SaveCourse")",
                data: $("#CourseForm").serialize(),
                success: function (result) {
                    var result = JSON.parse(result);
                    if (result.Result != "Success") {
                        var errorMsg = result.ErrorMsg;
                        var html = '<div class="alert alert-danger alert-dismissible fade in" role="alert">'
                                        + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>'
                                        + errorMsg
                                        + '</div>';
                        $("#CourseForm .error-msg").html(html);
                    }
                    else {
                        window.location.href = "@VirtualPathUtility.ToAbsolute("~/ProfessionalDevelopment/Course/Index")";
                    }
                }
            });
        });


    });
</script>