﻿@model OPD.Plugin.ProfessionalDevelopment.Presentation.Models.CourseListViewModel
@{
    Layout = "~/Views/_Shared/_AdminLayout.cshtml";
}
@section Content {

    @if (Model.Courses.Count == 0)
    {
        <div id="EmptyCourse">
            <div class="row">
                <div class="col-md-12">
                    <div class="warning-content">
                        <h2><i class="fa fa-warning fa-2x warning-icon"></i></h2>
                        <h3>
                            Currently there are no Course.
                            <button class="btn btn-info add-course " type="button">Add Course</button>
                        </h3>
                        <br />
                    </div>
                </div><!--/. col-md-12-->
            </div><!--/. row -->
        </div><!-- /#CourseScrollSpyDiv -->

    }
    else
    {
        <div class="">
            <div class="row">
                <form role="form" class="form-horizontal" action="@VirtualPathUtility.ToAbsolute("~/ProfessionalDevelopment/Course/Index")" method="POST" id="">
                    <div class="col-lg-12">
                        <h3>
                            Course
                            <button class="btn btn-info add-course pull-right" type="button">Add Course</button>
                        </h3>
                        <hr />
                        <div class="row">
                            <div class="col-md-offset-3 col-md-6">
                                <div class="table-responsive">
                                    <table class="table table-resposive leaves-table table-bordered">
                                        <thead>

                                            <tr>
                                                <th>
                                                    <input type="hidden" id="PageNumber" name="PageNumber" value="@(Request.QueryString["PageNumber"] != null ? Request.QueryString["PageNumber"] : "")" />
                                                    <input type="hidden" id="ItemsPerPage" name="ItemsPerPage" value="@(Request.QueryString["ItemsPerPage"] != null ? Request.QueryString["ItemsPerPage"] : "")" />
                                                    <input type="hidden" id="SortParam" name="ReportFilter.SortParam" value="" />
                                                    <input type="hidden" id="SortOrder" name="ReportFilter.SortOrder" value="@((Model.CourseFilter.SortOrder != null && Model.CourseFilter.SortOrder.Equals("desc")) ? "asc" : "desc")" />
                                                    <button type="submit" data-sort-param="Courses.CourseName"
                                                            class="btn btn-default button-like sort-btn @((Model.CourseFilter.SortParam != null && Model.CourseFilter.SortParam.Contains("Courses.CourseName")) ? "active" : "")">
                                                        <span>Course Name</span>
                                                        <span class="@((Model.CourseFilter.SortParam != null && Model.CourseFilter.SortParam.Contains("Courses.CourseName") && Model.CourseFilter.SortOrder.Equals("desc")) ? "glyphicon glyphicon-chevron-down" : "")"></span>
                                                    </button>
                                                </th>
                                                <th>Edit / Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{ var coursesCount = Model.Courses.Count; }
                                            @foreach (var course in Model.Courses)
                                            {
                                                <tr>
                                                    <td>@course.CourseName</td>
                                                    <td><input type="hidden" name="CourseID" id="CourseID" value="@course.CourseID" />
                                                        <span><a href="#" class="edit-course"><i class="icon-pencil icons"></i></a></span> / 
                                                        <span><a href="#" class="delete-course"><i class="icon-close icons"></i></a></span></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <br />

                    </div>
                    <!-- end of col-lg-9-->
                </form>
            </div>
        </div>

  }
         <!-- Course Modal -->
       <div class="modal fade" id="AddCourseModel" tabindex="-1" role="dialog" aria-labelledby="courseLabel">
        </div>
        
}
@section Scripts
{
    <script type="text/javascript">
        jQuery(document).ready(function ($) {

            $(".add-course").click(function (event) {
                alert("Hi");
                $.ajax({
                    url: "@VirtualPathUtility.ToAbsolute("~/ProfessionalDevelopment/Course/Create")",
                    success: function (html) {
               //         alert(html);
                        $("#AddCourseModel").html(html);
                    }
                })
             //   alert("Show");
                $("#AddCourseModel").modal('show');
            });

            $(".edit-course").click(function (event) {
                var CourseID = $(this).parent().parent().find("#CourseID").val();
                $.ajax({
                    url: "@VirtualPathUtility.ToAbsolute("~/ProfessionalDevelopment/Course/Edit")",
                    data: { courseID: CourseID },
                    success: function (html) {
                        $("#AddCourseModel").html(html);
                }
            })
            $("#AddCourseModel").modal('show');
            });

            $(".delete-course").click(function (event) {
               // alert("Hi");
                var CourseID = $(this).parent().parent().find("#CourseID").val();
                if (confirm('Are you sure want to Delete the Course')) {
                    $.ajax({
                        url: "@VirtualPathUtility.ToAbsolute("~/ProfessionalDevelopment/Course/Delete")",
                    data: { courseID: CourseID },
                    success: function (result) {
                        var result = JSON.parse(result);
                        if (result.Result == "Success") {
                            window.location.reload();
                        }
                    }
                })
                } else {
                }
            });

        });
    </script>
}


