﻿@{
    Layout = "~/Views/_Shared/_LoginMaster.cshtml";
}

@section LoginRegistrationTabContent
{
    <li class="active"><a href="#">ForgotPassword</a></li>
}


@section Content
{	
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="Forgot Password">
            <div class="login-form-container">
                <form id="LoginForm" action="@Url.Action("ResetPassword", "Account")" method="Post">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="icon-envelope-open icons"></i></div>
                            <input type="email" class="form-control" id="EmailAddress" placeholder="Email" name="EmailAddress" required="required">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Send Password Reset Link</button>
                    <a href="@VirtualPathUtility.ToAbsolute("~/Account/Login")" class="pull-right">Login</a>
                </form>
            </div>
        </div><!--/. LoginTabPane-->
    </div>
}


@section Footer
{
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
        });
    </script>
}
