﻿@model OHP.Plugin.Auth.Presentation.Models.OHPUserModel
@{
    Layout = "~/Views/_Shared/_LoginMaster.cshtml";
}

@section LoginRegistrationTabContent
{
    <li><a href="@Url.Action("Login", "Account")">Login</a></li>
    <li class="active"><a href="#">New Registration</a></li>
}


@section Content
{    
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="Register">
            <div class="register-form-container">
                <form id="RegistrationForm" action="@Url.Action("Register", "Account")" method="Post">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="icon-user icons"></i></div>
                                    <input type="text" class="form-control" id="FirstName" placeholder="FirstName" name="FirstName" value="@Model.FirstName"  required="required">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="icon-user icons"></i></div>
                                    <input type="text" class="form-control" id="Surname" placeholder="Surname" name="Surname" value="@Model.Surname"  required="required">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="icon-user icons"></i></div>
                            <input type="text" class="form-control" id="Username" placeholder="Username" name="Username" value="@Model.Username"  required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="icon-envelope-open icons"></i></div>
                            <input type="email" class="form-control" placeholder="Email" name="EmailAddress" value="@Model.EmailAddress"  required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="icon-pencil icons"></i></div>
                            <input type="password" class="form-control" id="Password" placeholder="Password" name="Password"  required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="icon-note icons"></i></div>
                            <input type="password" class="form-control" placeholder="Confirm Password" name="PasswordConfirmation"  required="required">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Register</button>
                </form>
            </div>
        </div><!--/. RegisterTabPane-->
    </div>
}


@section Footer
{
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
        });
    </script>
}
