﻿@model OHP.Plugin.Auth.Presentation.Models.OHPResetPasswordModel
@{
    Layout = "~/Views/_Shared/_LoginMaster.cshtml";
}

@section LoginRegistrationTabContent
{
    <li class="active"><a href="#">ForgotPassword</a></li>
}


@section Content
{	
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="Forgot Password">
            <div class="login-form-container">
                <form id="LoginForm" action="@Url.Action("DoResetPassword", "Account")" method="Post">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="icon-pencil icons"></i></div>
                            <input type="hidden" name="ResetPasswordToken" value="@Model.ResetPasswordToken">
                            <input type="password" class="form-control" id="Password" placeholder="Password" name="Password" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="icon-note icons"></i></div>
                            <input type="password" class="form-control" placeholder="Confirm Password" name="PasswordConfirmation" required="required">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Reset Password</button>
                    <a href="@VirtualPathUtility.ToAbsolute("~/Account/Login")" class="pull-right">Login</a>
                </form>
            </div>
        </div><!--/. LoginTabPane-->
    </div>
}


@section Footer
{
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
        });
    </script>
}
