﻿@{
    Layout = "~/Views/_Shared/_LoginMaster.cshtml";
}

@section LoginRegistrationTabContent
{
    <li class="active"><a href="#">Login</a></li>
    <li><a href="@Url.Action("Register", "Account")">New Parent</a></li>
}


@section Content
{	
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="Login">
            <div class="login-form-container">
                <form id="LoginForm" action="@Url.Action("doLogin", "Account")" method="Post">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="icon-envelope-open icons"></i></div>
                            <input type="text" class="form-control" id="Username" placeholder="Username" name="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="icon-pencil icons"></i></div>
                            <input type="password" class="form-control" id="Password" placeholder="Password" name="Password">
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="RememberMe"> Remember me
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div><!--/. LoginTabPane-->
    </div>
}


@section Footer
{
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
        });
    </script>
}
