/* bootstrap customize stylesheet for small size of texts, small padding of forms and tables*/

/* style for body */
body {
	font-size: 12px;
	line-height: 1.32857143;
}

/*style for forms */
.form-group {
  margin-bottom: 10px;
}
label {
	margin-bottom: 3px;
	font-weight: 600;
}
.form-control {
	height: 29px;
	font-size: 12px;
	line-height: 1.32857143;
}

/*style for buttons */
.btn {
	font-size: 12px;
	line-height: 1.342857143;	
}

.btn-group-sm>.btn, .btn-sm {
	  padding: 3px 8px;
}
/*style for tables
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 6px;
	line-height: 1.32857143;
} */
/*style for hr 
hr {
	margin-top: 10px;
	margin-bottom: 15px;
}*/
.glyphicon {
     font-size: 13px !important;
}
