﻿/*********Basic Styles *************/
.label, label {
    font-size: .875em;
    font-weight: 400;
    color: #666;
    letter-spacing: .02em;
}

.form-control:focus {
    background-color: #fff;
}

.form-identify input.form-control:not([value=""]) {
    background-color: #fefefe;
    font-size: 1em;
    color: #13A5FA;
}
/***********Bootstrap Styles ************/
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td,

.table > caption + thead > tr > th,
.table > colgroup + thead > tr > th,
.table > thead:first-child > tr > th,
.table > caption + thead > tr > td,
.table > colgroup + thead > tr > td,
.table > thead:first-child > tr > td {
    border-top: 0;
    font-weight: normal;
    color: #404B5F;
    letter-spacing: .02em;
}
.table.list-table > thead > tr > th, 
.table.list-table > tbody > tr > th, 
.table.list-table > tfoot > tr > th, 
.table.list-table > thead > tr > td, 
.table.list-table > tbody > tr > td, 
.table.list-table > tfoot > tr > td {
    line-height: 30px;
}
.table.valign-middle > thead > tr > th, 
.table.valign-middle > tbody > tr > th, 
.table.valign-middle > tfoot > tr > th, 
.table.valign-middle > thead > tr > td, 
.table.valign-middle > tbody > tr > td, 
.table.valign-middle > tfoot > tr > td {
    vertical-align: middle;
}
.input-group {    
  border-bottom: 1px solid #f5f6f6;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.input-group-addon {
    padding: 5px 12px;
    background-color: #fafbfb;    
}
.form-control {    
    background-color: #fafbfb;
}
/***********Patient Data Block **********/
.patient-info-block .patient-info-data {
    color: #404B5F;
}
/************Form Styles *****************/
.alo-form-horizontal .form-group:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.alo-form-horizontal .form-group {
    display: table;
    width: 100%;
    margin-bottom: -1px;
    border: 1px solid #ccc;
    padding: 0 12px;
}

.alo-form-horizontal label {
    display: table-cell;
    width: 30%;
}

.alo-form-horizontal .form-control {
    display: table-cell;
    width: 100%;
    border: none;
    box-shadow: none;
    padding: 18px 0 18px 12px;
    height: auto;
}

.alo-form-horizontal .form-group:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
/***********Vertical Form Styles *******/
@media (min-width: 768px) {
    .alo-form-vertical .form-group {
        min-height: 100px;
        border: 1px solid #ddd;
        padding: 7px;
    }

        .alo-form-vertical .form-group label {
            font-size: .75em;
        }

        .alo-form-vertical .form-group .input-group-addon {
            border: 0;
            background-color: transparent;
            padding: 7px 7px 7px 0px;
        }

        .alo-form-vertical .form-group input {
            border: 0;
            box-shadow: none;
            padding: 15px 0;
            font-size: 1.33em;
        }
}
/************jQuery Autocomplete Styles */
.ui-widget {
    font-size: .875em;
}

    .ui-widget .ui-menu-item {
        padding: 8px;
        color: #404B5F;
    }

        .ui-widget .ui-menu-item:nth-child(odd) {
            /*color: #13A5FA;*/
            background-color: #D9EDF7;
        }

        .ui-widget .ui-menu-item:hover {
            background-color: #13A5FA;
            color: #fff;
        }

/*********Sidebar default styles******/
.sidebar-nav li a .icon,
.sidebar-nav li a .glyphicon {
}
/******** Sidebar iPad Styles ********/
.ipad-look #sidebar-wrapper {
    left: 120px;
    margin-left: -120px;
}

.ipad-look .sidebar-nav {
    width: 120px;
}

    .ipad-look .sidebar-nav > .sidebar-brand {
        height: 60px;
        overflow: hidden;
    }

@media (min-width: 768px) {
    #wrapper.ipad-look {
        padding-left: 120px;
    }

    .ipad-look #sidebar-wrapper {
        width: 120px;
    }

    .ipad-look .sidebar-nav li {
        text-align: center;
    }

        .ipad-look .sidebar-nav li a {
            text-align: center;
            padding: 15px;
        }

            .ipad-look .sidebar-nav li a .icon,
            .ipad-look .sidebar-nav li a .glyphicon {
                font-size: 1.33em;
                display: block;
                padding-right: 0;
                padding-bottom: 7px;
            }
}

/******** Sidebar iPhone Styles ********/
.iphone-look #sidebar-wrapper {
    left: 60px;
    margin-left: -60px;
}

.iphone-look .sidebar-nav {
    width: 60px;
}

    .iphone-look .sidebar-nav > .sidebar-brand {
        height: 59px;
        overflow: hidden;
    }

@media (min-width: 768px) {
    #wrapper.iphone-look {
        padding-left: 60px;
    }

    .iphone-look #sidebar-wrapper {
        width: 60px;
    }

    .iphone-look .sidebar-nav li {
        text-align: center;
        height: 45px;
        overflow: hidden;
    }

        .iphone-look .sidebar-nav li a {
            text-align: center;
            padding: 15px;
        }

            .iphone-look .sidebar-nav li a .icon,
            .iphone-look .sidebar-nav li a .glyphicon {
                font-size: 1.33em;
                display: block;
                padding-right: 0;
                padding-bottom: 7px;
            }
}
