/**
 * primary color: #004B8D (blue)
   secondary color: #F53C15 (orange)
   color: #FFC425 (yellow)
   color: #EE3124 (red)
 */
/**
 * Table of Contents
 * =================
 * 1. Set default font family to sans-serif and General Styles.
 * 2. Vector Image Navbar Styles.
 * 3. Page Wrapper Styles
 * 4. Top Nav Menu Styles
 * 5. Form Styles
 * 6. Main Content Styles
 * 7. Footer Styles
 * 8. Activities Styles
 * 9. Activities Switch Button Styles
 * 10. Student Information Styles
 * 11. Bookings Styles (Cart)
 * 12. ByPassLoginReturnPage Styles
 * 13. Activities Selected Styles
 * 14. Finalised Styles
 * 15. Report Styles
 * 16. Team Styles
 */


/* 1. Set default font family to Gill Sans. */
@font-face {
    font-family: 'Gill Sans';
    src: url("~/../../fonts/33535gillsansmt.ttf");
}
/* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}*/

body {
    /*font-family: "Helvetica Neue", Verdana, Arial, Helvetica, sans-serif;*/
    font-family: "Gill Sans", Verdana, Arial, Helvetica, sans-serif;
    color: #333333;
    /*background: url("~/../img/grey_wash_wall.png") repeat #004B8D;*/
}

a:hover {
    color: #333333;
    text-decoration: none;
}

legend {
    color: #00285B;
}

/* 2. Vector Image Navbar Styles. */
.logo-navbar {
    min-height: 100px;
    margin-bottom: 0px;
    background-color: #00285B;
}

    .logo-navbar .navbar-content {
        padding: 0px 0px 10px 15px; /*16px 26px; */
    }

@media (max-width: 768px) {
    .logo-navbar .navbar-content {
        padding: 0px 0px; /*padding: 16px 0px;*/
    }
}

.logo-navbar .navbar-brand {
    height: 100px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
    }
}

.logged-user-md {
    color: #fff;
    padding-top: 80px;
}

.logged-user-xs {
    color: #fff;
    padding-left: 15px;
}

.logout-icon {
    color: #f0f0f0;
    cursor: pointer;
}

    .logout-icon:hover {
        color: #fff;
        font-weight: bold;
    }

.border-1 {
    border: 2px solid #EE3124;
    margin-left: -1px;
}

.border-2 {
    border: 2px solid #FFC425;
}

.border-3 {
    border: 2px solid #0069B5;
}

.border-adjust {
    margin-right: 0px !important;
    margin-top: -2px;
}

/* 3. Page Wrapper Styles */
.page-wrapper {
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    padding: 0;
    display: block;
}

    .page-wrapper .jumbotron {
        width: 80%;
        height: 90%;
        background-color: #fff;
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        border-radius: 10px;
        padding: 0px !important; /*20px;*/
    }

/* 4. Top Nav Menu Styles */
.navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
}

@media (min-width: 768px) {
    .top-nav-menu {
        width: 100%;
    }

        .top-nav-menu li {
            /*width: 16.66%;*/
        }

        .top-nav-menu .active {
            /*width: 14.66% !important;*/
        }
}

/* 5. Form STyles */
.form-horizontal .control-label {
    text-align: left;
}

.select2-container {
    width: 100%;
}

/* 6. Main content Styles */
.main-content {
    min-height: 400px;
    background-color: #fff;
    padding-bottom: 20px;
}

/* 7. Footer Styles */
footer {
    background-color: #073763;
    color: #fff;
    padding: 25px 0px 25px 0px;
}

@media (min-width: 768px) {
    footer .copy-right-text {
        padding: 40px 0px 0px 0px;
    }

    footer .address-content {
        text-align: right;
    }
}

/* 8. Activities Styles */
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #999999;
    border-color: #999999;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

@media (min-width: 992px) {
    #categoryAffix {
        width: 260px;
        top: 200px;
    }
}

@media (min-width: 768px) {
    .schedules .schedule {
        padding: 0px 15px;
    }

    .schedules .schedule-block {
        border-bottom: 1px solid #d2d2d2;
        margin: 15px 0;
    }

        .schedules .schedule-block:last-child {
            border-bottom: none;
        }

    .schedules .schedule .schedule-cell {
    }

    .schedules .material-switch {
        margin-top: 30px;
    }

    .schedules .schedule .schedule-cell.schedule-desc, .schedules .schedule .schedule-cell.schedule-cost {
        min-height: 110px;
    }

    .schedules .schedule .schedule-cell.schedule-cost {
        padding: 19px 25px;
    }

    .schedules .schedule .schedule-cost {
        text-align: center;
    }

    .schedules .schedule .schedule-cell.center-text {
        text-align: center;
    }

        .schedules .schedule .schedule-cell.center-text.week-view {
            padding: 5px 0;
        }

    #scheduleModal .center-text {
        text-align: right;
    }

    #categoryAffix {
        z-index: 999;
        top: 50px;
    }
}

@media (max-width: 768px) {
    .schedules .schedule-row {
        border: 1px solid #d2d2d2;
        margin-left: 0px;
        margin-right: 0px;
    }

    .schedules .material-switch {
        margin: 20px 0;
    }
}

.schedules .schedule-row {
    padding-bottom: 10px;
}

.btn-class {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

/* 9. Activities Switch Button Styles */
.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

    .material-switch > label::before {
        background: rgb(0, 0, 0);
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        content: '';
        height: 16px;
        margin-top: -8px;
        position: absolute;
        opacity: 0.3;
        transition: all 0.4s ease-in-out;
        width: 40px;
    }

    .material-switch > label::after {
        background: rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        content: '';
        height: 24px;
        left: -4px;
        margin-top: -8px;
        position: absolute;
        top: -4px;
        transition: all 0.3s ease-in-out;
        width: 24px;
    }

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

/* 10. Student Information Styles */
#StudentInformationContainer {
    min-height: 500px;
}

/* 11. Bookings Styles (Cart) */
#BookingsTable .remove-activity-cell {
    width: 60px;
    cursor: pointer;
}

#BookingsTable .remove-activity.active {
    font-weight: bold;
    color: #800000;
    font-size: 16px;
}

.schedule-cancellation {
    cursor: pointer;
}

/* 12. ByPassLoginReturnPage Styles */
.warning-content {
    text-align: center;
}

@media (min-width: 768px) {
    .warning-content {
        text-align: center;
        padding: 50px 50px;
    }
}

.warning-content .warning-icon {
    color: #f0ad4e;
}

/* 13. Activity Selected Styles */
.table-no-border > tbody > tr > td {
    border-top: none;
}

.table .background-thead {
    color: #00285B;
    background-color: #ddd;
}

.schedule-cell .btn-group .schedule-day.active {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

/* 14. Finalised Styles */
.tab {
    text-indent: 40px;
}

/* 15. Report Styles */
.button-like, .button-like:hover {
    color: #428bca !important;
    background-color: #fff !important;
    border: none !important;
    padding: 0px !important;
    font-weight: bold;
}

    .button-like.active {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }


/* 16. Team Styles */
#EnrolledStudentsTable tbody tr td {
    cursor: pointer;
}

.med-care {
    color: #c9302c;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px; /*60px;*/
    height: 27px; /*34px;*/
}

    .switch input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 19px; /*26px;*/
        width: 19px; /*26px;*/
        left: 2px; /*4px;*/
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #5cb85c; /* #2196F3; */
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

label.switch {
    margin-bottom: 0px !important;
}

/* Responsive Table Css Tricks */
/* 
Generic Styling, for Desktops/Laptops 
*/
#TeamStudentsTable {
    width: 100%;
    border-collapse: collapse;
}
    /* Zebra striping */
    #TeamStudentsTable tr:nth-of-type(odd) {
        background: #eee;
    }

    #TeamStudentsTable th {
        background: #00285B; /*#333;*/
        color: white;
        font-weight: bold;
    }

    #TeamStudentsTable td, #TeamStudentsTable th {
        /*padding: 6px;*/
        border: 1px solid #ccc;
        text-align: left;
    }

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    .medi-care-content {
        float: right;
    }

    .SaveAttendance.visible-xs {
        position: fixed;
        width: 100%;
        bottom: 0;
    }
}
